#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson

execute_before_dh_installchangelogs:
	appstreamcli metainfo-to-news --format=text $(firstword $(wildcard debian/*/usr/share/metainfo/*.xml)) changelog.rst
