name: Build Linux Flatpak

on: [push]

# on:
#   push:
#     branches: [main]
#   pull_request:

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-44
      options: --privileged
    steps:
    - uses: actions/checkout@v6
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6.1
      with:
        bundle: syncthing-gtk.flatpak
        manifest-path: packaging/flatpak/org.syncthing-gtk.syncthing-gtk.yml
        cache-key: flatpak-builder-${{ github.sha }}
